@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&display=swap');

.mainSection {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    position: relative;
    left: 35%;
    width: 320px;
    align-items: center;
    border-radius: 30px;
    align-content: center;
    padding-top: 20px;
    /*white nox shadow*/
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
}

.pokemon img {
    width: 150px;
    height: 150px;
    transform: scale(1);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.pokemon img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}

.buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.s {
    text-align: left;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
    border-radius: 5px;
}

.statText {
    font-family: 'Unbounded', sans-serif;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
}




.s:nth-child(1) {
    background: linear-gradient(90deg, #c0392b, #e74c3c);
}

/* HP */
.s:nth-child(2) {
    background: linear-gradient(90deg, #e67e22, #f39c12);
}

/* ATK */
.s:nth-child(3) {
    background: linear-gradient(90deg, #2980b9, #3498db);
}

/* DEF */
.s:nth-child(4) {
    background: linear-gradient(90deg, #8e44ad, #9b59b6);
}

/* SpA */
.s:nth-child(5) {
    background: linear-gradient(90deg, #27ae60, #2ecc71);
}

/* SpD */
.s:nth-child(6) {
    background: linear-gradient(90deg, #f39c12, #f1c40f);
}




.searchBar {
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-left: 31%;
    align-content: space-between;
    gap: 20px
}

#searchname {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 2px, solid, greenyellow;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#searchname::placeholder {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Unbounded', sans-serif;
}

#searchname::value {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Unbounded', sans-serif;
}

#searchButton {
    width: 150px;
    border-radius: 5px;
    border: none;

}
